h1{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    background-color: rgba(59, 50, 98, 0.371);
    color: white;
}

body{
    margin-top: 50px;
    background-image: url("image/bat4.jpeg");
    background-size: cover;
    background-position: center;
    color: white;
}
button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 25px;
    background-color: rgba(59, 50, 98, 0.371);
    color: white;
}
footer{
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px 0;
    text-align: center;}

.row{
    margin-top: 20px;
    background-color:  rgba(59, 50, 98, 0.371);
    padding: 30px;
    border-radius: 10px;
}